/* Apply page */

table, .header, td{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 2px;
    text-align: center;
}
table tr:nth-child(odd) {
    background-color: #779dd9;
    
}
table tr:nth-child(even) {
    background-color: #9db0cf;
}
th {
    background-color:#2f4569;
    color: white;
}
table tr:hover {
    background-color: #2e2aaf;
    color: white; 
}

h3, h2 {
    padding-left: 2%;
}

table {
    /* display: block; */
    margin: 0 auto;
    border-color: white;
    width: 95%;
}
.button {
    text-decoration: none;
    background-color:#adcfed;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    padding-left: 1%;
    padding-right: 1%;
    border: 2px solid;
    border-top: 2px solid rgb(215, 213, 213);
    border-right: 2px solid gray;
    border-bottom: 2px solid gray;
    border-left: 2px solid rgb(215, 213, 213);
    margin: 0.5% 1.5% 0.5% 2%;
    display: inline-block;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
}

.button:hover {
    opacity: 0.8;
}

.division1, .division2, .division3 {
    display: inline-block;
    text-align: center;
    background-color: #7c9ed5;
    color:#000000;
    width: 30%;
    padding: 0;
    margin: 0;
    
}
.maincontainer1, .maincontainer2, .maincontainer3{
    display: none;
    float: left;
    width: 98%;
    margin: 0 auto;
    padding-left: 0.5%;
    margin-bottom: 0.5%;
}
        
.OSD, .BSD, .SSD{
    display: inline;
    width: 30%;
    max-width: 30%;
    height: 300px;
    border: 2px solid #1a345e;
    border-radius: 2%;
    float: left;
    text-align: center;
    background-color: white;
}


.OSD img, .BSD img, .SSD img {
    display: inline;
    margin: 0 auto 10px;
    border-radius: 5%;
    background-color: white;
    padding-left: 10%;
    padding-right: 10%;
    width: 60%;
    height: 70%;
    }

.OSD label, .BSD label, .SSD label {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
    color: #071c3d;
}

.OSD input, .BSD input, .SSD input {
    width: 10%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid gray;
    border-radius: 4px;
    text-align: center;
}

.OSD button, .BSD button, .SSD button {
    border: outset;
    background-color:rgb(166, 196, 248);
    margin-top: 1%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 8px 15px;
}


.division1:hover, .division2:hover, .division3:hover {
    /* background-color: white;
    color: #264e8d; */
    transform: scale(1.1);
    transition: 0.3s ease;
}

/* .division1:hover ~ .maincontainer1, .division2:hover ~ .maincontainer2, .division3:hover ~ .maincontainer3 {
    display: block;
} */
.division1:hover ~ .maincontainer1 .OSD, .division2:hover ~ .maincontainer2 .BSD, .division3:hover ~ .maincontainer3 .SSD  {
    background-color: white;
}

.maincontainer1:hover, .maincontainer2:hover, .maincontainer3:hover {
    display: block;
}
/* .maincontainer1:active, .maincontainer2:active, .maincontainer3:active {
    display: none;
} */
.OSD:hover, .BSD:hover, .SSD:hover {
    background-color:#8db7f5;
}

.resulting {
    clear: both;
}

#msg {
    width: 100%;
    margin: 0 auto;
    display: none;
    color: red;
    text-align: center;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
}

.mainHeading {
    width: 98%;
    text-align: center;
    display: block;
}



@media (max-width: 768px) {
.division1, .division2, .division3 {
        width: 30%;
        margin-bottom: 10px;
        display: inline-block;
    }
    
    .OSD, .BSD, .SSD {
        width: 30%;
        max-width: 30%;
        margin-bottom: 15px;
        display: inline;
        float: left;
    }

    .OSD label, .BSD label, .SSD label {
        display: block;
        font-weight: bold;
        margin-bottom: 8px;
        color: #071c3d;
    }

    .OSD input, .BSD input, .SSD input {
        width: 7%;
        padding: 3px;
        margin-bottom: 5px;
        border: 1px solid gray;
        border-radius: 2px;
        text-align: center;
    }

    .OSD button, .BSD button, .SSD button {
        border: outset;
        background-color:rgb(166, 196, 248);
        margin-top: 1%;
        font-family: Georgia, 'Times New Roman', Times, serif;
        padding: 4px 7px;
    }

}

